:root {
  --primary-color-1: #9FDC26;
  --primary-color-2: #F29C33;
  --primary-color-3: #EE6352;
  --primary-color-4: #C4E5FC;
  --light-color-1: #FFFFFF;
  --light-color-2: #F0EBE1;
  --dark-color-1: #000000;
  --dark-color-2: #262522;

  --bg-color: var(--light-color-2, #F0EBE1);
  --card-bg-color: var(--light-color-1, #FFFFFF);

  --border-color: var(--dark-color-2, #262522);
  --dim-border-color: rgba(38, 37, 34, .24);

  --dark-headline-color: var(--dark-color-2, #262522);
  --dark-paragraph-color: rgba(38, 37, 34, 0.8);
  --dark-button-bg: var(--dark-color-2, #262522);
  --dark-button-text: var(--light-color-2, #F0EBE1);

  --light-headline-color: var(--light-color-2, #F0EBE1);
  --light-paragraph-color: rgba(240, 235, 225, 0.8);
  --light-button-bg: var(--light-color-1, #FFFFFF);
  --light-button-text: var(--dark-color-2, #262522);

  --primary-ff: 'Roboto', Arial, sans-serif;
  --secondary-ff: 'Montserrat', Monaco, monospace;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  --inactive-element-opacity: .5;
  --active-element-opacity: 1;

  --hover-transition: .3s cubic-bezier(.33, 1, 0.68, 1) 0s;
  --transform-transition: .3s ease;
}