.tag {
  display: flex;
  background-color: var(--primary-color-3);
  min-width: 40px;
  max-width: fit-content;
  align-items: center;
  justify-content: center;

  &_size_m {
    border-radius: 12px;
    padding: 4px 8px;
  }

  &_size_l {
    border-radius: 16px;
    padding: 8px 16px;
  }
}

.title {
  margin: 0;
  max-width: fit-content;
  color: var(--dark-button-text);
  text-transform: uppercase;
  font-family: var(--primary-ff);
  font-weight: var(--fw-medium);
  line-height: 1;

  &_size_m {
    font-size: .875rem;
  }

  &_size_l {
    font-size: 1.125rem;
  }
}