.wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: space-between;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.input {
  margin: var(--field-errors-size) 0;
  width: var(--inputs-width);
  box-sizing: border-box;
  font-family: var(--primary-ff);
  font-weight: var(--fw-light);
  font-size: 0.95rem;
  line-height: 1;
  padding: 10px;
  border: 1px solid var(--dim-border-color);
  display: block;
  background-color: var(--input-bg-color);
  color: var(--dark-color-2);
  border-radius: 6px;
  outline: none;
  will-change: outline;
  transition: outline .07s ease-in-out;

  &:focus {
    outline: 2px solid var(--primary-color-3);
  }

  &_error {
    border: 1px solid var(--primary-color-3);
  }

  &_error::placeholder {
    color: var(--primary-color-3);
  }
}

.error {
  position: absolute;
  top: -0.1rem;
  right: 0.1rem;
}
