@mixin navlink_underline($scale: 1) {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--primary-color-3);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  will-change: transform;
  transform: scaleX($scale);
  transform-origin: bottom left;
  transition: transform var(--transform-transition);
}

.navlink {
  position: relative;
  font-family: var(--primary-ff);
  font-size: .875rem;
  font-weight: var(--fw-medium);
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  will-change: opacity;
  transition: opacity var(--hover-transition);

  &_theme_light {
    padding: 8px;
    color: var(--dark-color-2);
    opacity: var(--inactive-element-opacity);

    &:hover {
      opacity: var(--active-element-opacity);
    }

    &::before {
      @include navlink_underline($scale: 0);
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }

  &_theme_dark {
    color: var(--light-color-2);
    opacity: var(--active-element-opacity);

    &:hover {
      opacity: .6;
    }
  }
}

.navlink_theme_light.navlink_active {
  opacity: var(--active-element-opacity);
}

.navlink_theme_light.navlink_active::before {
  @include navlink_underline;
}
