@mixin cardGrid {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 24px;
}

@mixin item {
  align-self: stretch;
}

.cardGrid {
  @include cardGrid;
}

.item {
  @include item;
}