.label {
  display: flex;
}

.labelText {
  margin: 0;
  font-family: var(--primary-ff);
  font-size: 1.0rem;
  font-weight: var(--fw-light);
  line-height: 1;
}

.required::after {
  content: "*";
  margin: 0 0 0 0.1rem;
  color: #EE6352;
}