.link {
  display: flex;
  will-change: opacity;
  transition: opacity var(--hover-transition);
}

.link:hover {
  opacity: var(--hovered-element-opacity);
}

.icon {
  object-fit: contain;
  object-position: center;
}
