.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.textarea {
  width: 100%;
  height: auto;
  min-height: 150px;
  overflow: hidden;
  resize: vertical;
  box-sizing: border-box;
  font-family: var(--primary-ff);
  font-weight: var(--fw-light);
  font-size: 0.95rem;
  padding: 10px;
  border: 1px solid var(--dim-border-color);
  background-color: var(--input-bg-color);
  color: var(--dark-color-2);
  border-radius: 6px;
  outline: none;
  will-change: outline;
  transition: outline .07s ease-in-out;

  &:focus {
    outline: 2px solid var(--primary-color-3);
  }

  &_error {
    border: 1px solid var(--primary-color-3);
  }

  &_error::placeholder {
    color: var(--primary-color-3);
  }
}