.wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: space-between;
}

.checkboxList {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: var(--inputs-width);
}
