.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 24px;
  min-height: 70px;
  align-items: center;
  border: 1px solid var(--dim-border-color);
  border-radius: 32px;
}

.logoContainer {
  justify-self: start;
}

.navbarContainer {
  justify-self: center;
}

.searchContainer {
  justify-self: end;
}