.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 24px;
  min-height: 70px;
  align-items: center;
  background-color: var(--light-color-2);
  border: 1px solid var(--dim-border-color);
  border-radius: 32px;
}

.logoContainer {
  justify-self: start;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.logo {
  width: 45px;
  height: 45px;
  object-fit: contain;
  object-position: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.logoTitle {
  margin: 0;
  text-transform: capitalize;
  color: var(--dark-color-2);
  font-family: var(--primary-ff);
  font-size: 0.938rem;
  font-weight: var(--fw-medium);
}

.navbarContainer {
  justify-self: center;
}

.searchContainer {
  justify-self: end;
}