@mixin navlink_underline($scale: 1) {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--primary-color-3);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  will-change: transform;
  transform: scaleX($scale);
  transform-origin: bottom left;
  transition: transform var(--transform-transition);
}

.navlink {
  padding: 8px;
  position: relative;
  font-family: var(--primary-ff);
  font-size: .875rem;
  font-weight: var(--fw-medium);
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--light-button-text);
  opacity: var(--inactive-element-opacity);
  cursor: pointer;
  will-change: opacity;
  transition: opacity var(--hover-transition);

  &:hover {
    opacity: var(--active-element-opacity);
  }

  &::before {
    @include navlink_underline($scale: 0);
  }

  &:hover::before {
    transform: scaleX(1);
  }

  &_active {
    opacity: var(--active-element-opacity);

    &::before {
      @include navlink_underline;
    }
  }
}
